<a href="https://colab.research.google.com/github/padmashree1995/LGMVIP--DataScience/blob/main/prediction_using_decision_tree_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import libraries

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import sklearn.metrics as metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
data= pd.read_csv("/content/sample_data/golf_df.csv")
data.head

<bound method NDFrame.head of      Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no>

In [5]:
data.shape

(14, 5)

In [6]:
data.dtypes

Outlook        object
Temperature    object
Humidity       object
Windy            bool
Play           object
dtype: object

In [7]:
data.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Windy', 'Play'], dtype='object')

In [8]:
data.isnull().sum()

Outlook        0
Temperature    0
Humidity       0
Windy          0
Play           0
dtype: int64

In [9]:
data.duplicated

<bound method DataFrame.duplicated of      Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no>

In [13]:
data.tail

<bound method NDFrame.tail of      Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no>

In [14]:
data.describe

<bound method NDFrame.describe of      Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no>

In [15]:
data.info

<bound method DataFrame.info of      Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no>

In [19]:
data.Play.value_counts()

yes    9
no     5
Name: Play, dtype: int64

In [20]:
Entropy_Play = -(9/14)*np.log2(9/14) -(5/14)*np.log2(5/14)
print(Entropy_Play)

0.9402859586706311

In [21]:
data[data.Outlook == 'sunny']

   Outlook Temperature Humidity  Windy Play
0    sunny         hot     high  False   no
1    sunny         hot     high   True   no
7    sunny        mild     high  False   no
8    sunny        cool   normal  False  yes
10   sunny        mild   normal   True  yes

In [22]:
# Entropy(Play|Outlook=Sunny)
Entropy_Play_Outlook_Sunny =-(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)
print(Entropy_Play_Outlook_Sunny)

0.9709505944546686

In [23]:
data[data.Outlook == 'overcast']

     Outlook Temperature Humidity  Windy Play
2   overcast         hot     high  False  yes
6   overcast        cool   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes

In [24]:
Entropy_Play_Outlook_Overcast =-(0/4)*np.log2(0/4) -(4/4)*np.log2(4/4)
Entropy_Play_Outlook_Overcast

<ipython-input-24-08b933508ea9>:1: RuntimeWarning: divide by zero encountered in log2
  Entropy_Play_Outlook_Overcast =-(0/4)*np.log2(0/4) -(4/4)*np.log2(4/4)
<ipython-input-24-08b933508ea9>:1: RuntimeWarning: invalid value encountered in double_scalars
  Entropy_Play_Outlook_Overcast =-(0/4)*np.log2(0/4) -(4/4)*np.log2(4/4)

nan

In [25]:
data[data.Outlook == 'rainy']

   Outlook Temperature Humidity  Windy Play
3    rainy        mild     high  False  yes
4    rainy        cool   normal  False  yes
5    rainy        cool   normal   True   no
9    rainy        mild   normal  False  yes
13   rainy        mild     high   True   no

In [26]:
Entropy_Play_Outlook_Rain = -(2/5)*np.log2(2/5) - (3/5)*np.log2(3/5)
Entropy_Play_Outlook_Rain

0.9709505944546686

In [27]:
Entropy_Play - (5/14)*Entropy_Play_Outlook_Sunny - (4/14)*0 - (5/14) * Entropy_Play_Outlook_Rain

0.24674981977443933

In [30]:
lb = LabelEncoder()
data['Outlook_'] = lb.fit_transform(data['Outlook'])
data['Temperature_'] = lb.fit_transform(data['Temperature'] )
data['Humidity_'] = lb.fit_transform(data['Humidity'] )
data['Windy_'] = lb.fit_transform(data['Windy'] )
data['Play_'] = lb.fit_transform(data['Play'] )
X = data.iloc[:,5:9]
Y = data.iloc[:,9]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train,y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

In [33]:
X_train

    Outlook_  Temperature_  Humidity_  Windy_
4          1             0          1       0
6          0             0          1       1
2          0             1          0       0
0          2             1          0       0
10         2             2          1       1
7          2             2          0       0
3          1             2          0       0
13         1             2          0       1
8          2             0          1       0

In [34]:
X_test

    Outlook_  Temperature_  Humidity_  Windy_
11         0             2          0       1
12         0             1          1       0
5          1             0          1       1
1          2             1          0       1
9          1             2          1       0

In [36]:
y_train

4     1
6     1
2     1
0     0
10    1
7     0
3     1
13    0
8     1
Name: Play_, dtype: int64

In [37]:
y_test

11    1
12    1
5     0
1     0
9     1
Name: Play_, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train,y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

clf_entropy = DecisionTreeClassifier(criterion='entropy')
clf_entropy.fit(X_train.astype(int),y_train.astype(int))
y_pred_en = clf_entropy.predict(X_test)

print("Accuracy is :{0}".format(accuracy_score(y_test.astype(int),y_pred_en) * 100))

Accuracy is :60.0